[2017-11-24 14:16] codespook opened #1 "Cross-platform Build Instructions"
Can development be done in a windows environment? If not then, will working in a VM be feasible?

[2017-11-24 14:29] shtefcs commented on #1
I think it should be, since Meteor support Windows platform. What you think @entrptaher  ?

[2017-11-24 14:30] entrptaher commented on #1
Yes development can be done in windows.
We'll put some windows setup instructions soon.

[2017-11-25 20:16] jankapunkt commented on #1
Please also add build instructions for OSX.

[2017-11-25 20:18] jankapunkt opened #2 "Update Meteor Version to 1.6 and Packages to the latest compatible/stable"
I think a good first milestone would be to make this project run using up to date versions of Meteor and the packages. Also the NPM packages require a version update.

[2017-11-25 20:19] jankapunkt opened #3 "Adding Tests"
There are currently no tests in this project, at least I did not find any. In order to improve this project it would be good to gain a high test coverage.

[2017-11-25 20:20] shtefcs commented on #2
Yes @jankapunkt  that is what I think as well. Among the good roadmap and docs, the should be first step in future development.

[2017-11-25 20:21] shtefcs commented on #3
Not a single test, as it came out as weekend project of few of us. So you are definitely right, we gonna keep this in mind.

Thanks for all this issues :)

[2017-11-25 20:48] entrptaher commented on #1
I think OSX and Linux will have same build instructions. We will see.

[2017-11-25 20:50] jankapunkt commented on #1
I was just concerned because of this REAMDE part:
`sudo apt-get install libcairo2-dev libjpeg-dev libgif-dev libjpeg8-dev libpango1.0-dev build-essential g++`
which is only working for Debian based Linux Dsitributions.

[2017-11-25 20:52] entrptaher commented on #1
Probably this is what we need instead of that.
`brew install pkg-config cairo libpng jpeg giflib`

[2017-11-25 21:27] entrptaher commented on #2
There are some packages that are obsolate and won't compile under node v8.8.1. We need to remove those packages. Such as
- contextify which is an indirect dependency of fabric.js,
- the dev dependencies like faker and chimp.

[2017-11-25 22:09] entrptaher opened #5 "Saving the wire zooms in the whole canvas"
Clicking the save button zooms in the whole canvas, and cuts out part of the wire.

Preview of problem:
![](https://media.giphy.com/media/3oxHQGGqQZE9HhpM8E/giphy.gif)

[2017-11-25 22:09] entrptaher opened #6 "Reseting canvas removes it"
First we saw a white canvas background.
![screenshot from 2017-12-08 20-24-04](https://user-images.githubusercontent.com/8284972/33769883-f6df753e-dc55-11e7-83c0-1ccf44290aae.png)

And then we cleared the canvas.
![screenshot from 2017-12-08 20-24-15](https://user-images.githubusercontent.com/8284972/33769886-f93f9f16-dc55-11e7-88b7-cbe7a97e011c.png)

And we see the while background is gone comple

[2017-11-26 01:32] shtefcs commented on #6
What do you mean @entrptaher  ?

[2017-11-26 14:05] entrptaher commented on #6
I'll update the main post with in depth details.

[2017-11-26 21:00] shtefcs opened #7 "Onboarding - User Guide for easier navigation"
Some simple user guide and onboarding should be done, so users can get it easier how to use the tools.

[2017-11-27 03:38] entrptaher commented on #1
@nikw92 can you try the latest readme file and see if you manage to install wireflow on windows?

[2017-11-27 03:39] entrptaher commented on #1
@jankapunkt can you confirm that if you use the packages below, then you can run wireflow on your local?
[code]

[2017-11-29 09:31] mikkelking commented on #1
I used this brew install list, I only needed giflib (the others were already installed).
Slingshot caused some problems:

[code]
I am thinking I need a meteor settings file  to point to an S3 bucket? Now I see it, I'll have a go at that.
I commented the slingshot import, and the app runs ok, I can draw some things. So far so good

[2017-11-29 11:33] mikkelking commented on #1
By using the settings file the problem goes away. You should put a reference into the getting started guide about the need for a `--settings settings.json` parameter when running meteor

[2017-11-29 17:28] entrptaher commented on #1
@mikkelking I did say you need to write `meteor yarn start`

[2017-11-29 20:16] mikkelking commented on #1
@entrptaher  Yes you did, and as I don't use yarn I ignored that. For the sake of completeness it would be worth mentioning that you can run it with the meteor command. Typically i set environment variables like this:

[code]

It doesn't hurt to cover all options :)

[2017-11-29 20:25] entrptaher commented on #1
Alright, I will add that :)

[2017-11-30 10:34] julientaq opened #9 "adding new svgs"
Hey there! Thanks for the open source and the nice tool you built.

We're trying to set it up and see if it can be useful for creating workflow from multiple design team regarding the same tool.

What would be the best way to add new charts to the app?
For now we can replace your svg, but what if we want to get deeper into customisation?

[2017-11-30 10:48] shtefcs commented on #9
@julientaq  glad you find it useful.

I am still thinking if we create a new repo for SVG's to be easier for people to access it, modify and add new.

Do you thinking adding the new SVG's but to contain same style, just different screens ?

Peace,

[2017-11-30 10:52] shtefcs commented on #9
Also, are you looking for .AI (Illustrator) source file for graphics, so you can continue edit from there ?

[2017-11-30 12:15] julientaq commented on #9
I'm thinking about completely new svg: content, styles, colors… to be more accurate with the brand and with the features of each part of screen for the apps we're building and gives access to developers, designers and who ever we need to come and comment on the workflow, while being outside of designers tools. So i'm thinking about adding smaller component (input, button, text block) and go from h

[2017-11-30 13:35] shtefcs commented on #9
@julientaq  Well, I was thinking about that, and that is one of the features to be done. Feature where users can upload/import their own graphics and manipulate them like the current one.

The issue will be open so someone can pick it up and work on it. You your crew if you have some work done, feel free to submit PR.

[2017-11-30 19:24] jimsmart opened #10 "'Chart search' appears to return many duplicate results"
Steps to reproduce:

1. Go to https://wireflow.co/
2. Click 'start designing'
3. Click 'see charts'
4. In the search field, type 'sign' or 'blog'
5. The results list appears to contain many duplicates

Expected results: if there are only four items matching my search, I expect to see a list of only those four items. If these items are not actually duplicates, then I expect to be able to differenti

[2017-12-01 04:24] shtefcs commented on #10
Hey @jimsmart  yeah, that is old known bug and someone will take care of it soon or later. The next task is to update dependencies, so everything will be up to date.

[2017-12-07 08:47] tomscholz opened #12 "Upgrade from react-komposer to withTracker"

[2017-12-07 18:11] shtefcs commented on #12
Thanks for the issue @tomscholz . If you are able to do it, feel free to pick it up and submit PR.

[2017-12-07 18:42] tomscholz commented on #12
I will try to look into it this weekend💃✌🦄

[2017-12-07 18:45] shtefcs commented on #12
hehe, that is nice Tom, lets see 🦉  ☺️

[2017-12-07 20:03] badis commented on #12
Hi gays,

I have done a lot on this, please review this PR ( https://github.com/vanila-io/wireflow/pull/14)  and let me know what you think.

[2017-12-07 20:44] shtefcs commented on #12
That a great @badis ^^

[2017-12-08 14:26] entrptaher commented on #5
Information updated.

[2017-12-08 14:26] entrptaher commented on #6
Information updated.

[2017-12-08 16:22] badis commented on #12
Hi @tomscholz

Take a look at this : https://github.com/vanila-io/wireflow/pull/16
I have changed composeWithTracker with withTracker from react-meteor-data.
I think react-meteor-data is enough and we no longer need to keep react-komposer.
Please let me know what do you think and correct me if I am missing something.

[2017-12-08 17:28] shtefcs commented on #6
Oh that, yeah I remember that bug from the start. Will that be fixed with the React upgrade and other PR's u guys did ?

[2017-12-08 17:32] entrptaher commented on #6
No, it's a separate issue with logics I think. Like the logic for those features are incomplete.

[2017-12-08 17:41] shtefcs commented on #6
Okay, got it.

[2017-12-08 17:45] shtefcs commented on #5
Yeah, another old bug ^^

[2017-12-09 03:45] entrptaher opened #18 "ESlint Fixes"
There are many packages that requires eslint.
Can we fix the eslint errors at once so that other commits would have their own meaning?

For example, `Remove react-komposer package` should mean it removes `react-komposer` package and nothing else. But it also have a lot of eslint fixes.

So maybe we can focus on one PR that focuses on only ESLint related problems through all files of wireflow app.

[2017-12-09 10:59] badis commented on #18
I was thinking to incrementally fix ESLint errors in a separate commit in each pull request.
Pull request: ``` remove react-komposer package ``` contains two commits: one for only changes in files related to react-komposer fixes and another commit for further ESLint enhancements.
There was thousands of errors and warnings. now there are around 300 exist.
I was mainly fixing warnings related to: in

[2017-12-09 11:29] badis commented on #1
@entrptaher
I think it's also good to add npm commands also:

[code]

For people not familiar with yarn although there is no difference between them.

[2018-01-24 22:41] #12 closed

[2018-04-18 16:22] heyakyra opened #21 "New document just loads forever"
Trying this for the first time I can't create a document

[2018-04-18 16:28] shtefcs commented on #21
@thekyriarchy hmm, indeed. Just noticed. Well, Wireflow require hard refactoring. That is the reason we released as open source, since we moved to another projects and need help from external collaborators.

I will try to investigate on it, but can't promise it gonna be fixed soon.

Appreciate your feedback.

[2018-04-18 16:29] shtefcs commented on #21
@entrptaher anyway you can check out why its not loading new document ?

[2018-04-18 23:33] thekyriarchy commented on #21
Console log shows:

`Loading failed for the <script> with source “http://cdn.mouseflow.com/projects/c80233bf-6b2e-448b-862d-1c224213bef8.js”.`

`Firefox can’t establish a connection to the server at ws://wireflow.co/sockjs/182/17f4drxu/websocket`
`The connection to ws://wireflow.co/sockjs/182/17f4drxu/websocket was interrupted while the page was loading`

seems to be some sort of backend issue

[2018-04-19 03:24] entrptaher commented on #21
- The local version works perfectly and it doesn't have mouseflow code which is throwing some error. We can remove the code and see if it works properly or not.

- Also the currently deployed version needs some rework, it currently has around 1868 users, 261222 graphics, 22566 wires and the websocket emits all events to all users, maybe that is another reason it is not loading.

[2018-04-28 20:58] shtefcs commented on #21
@entrptaher missed your response Tahy ...

I believe everything is messy there and not optimized. For wireflow to work properly, need restructuring and refactoring. This is just proof of concept, and people like it, find it useful. Next step is to recreate whole app with proper coding, optimization, etc.

I think you can remove all this 22k wires ^^.

[2018-04-29 02:39] entrptaher commented on #21
@thekyriarchy can you try again?
@shtefcs maybe we will add a notice on top that the graphics/wires will be removed regularly until we are on stable version.

[2018-04-29 13:31] shtefcs commented on #21
@entrptaher its works now 👍. Thanks

Yeah, we could add that notify.

[2018-10-25 10:33] entrptaher opened #23 "Security Issues"
This is one of the major issues we will be working on.

1. Admin database exposed at `/admin/users`
2. Websocket is unauthenticated

The reason is, this was a prototype and got hunted on producthunt unfortunatly.

Action:
- Take down wireflow for now,
- Fix these problems before moving on to next version.

[2018-10-25 14:18] #21 closed

[2018-12-15 01:46] bluenevus opened #26 "Request for docker image"
Humble request for a docker image

[2018-12-15 10:54] entrptaher commented on #26
The current version is pretty old, but hold on, let me create one, since it will also improve development setup.

[2019-01-04 01:57] bluenevus commented on #26
Thanks!!!

[2019-01-20 23:36] bluenevus commented on #26
any luck on that docker image?

[2019-01-21 03:49] entrptaher commented on #26
Clone the repo and use the following docker file, all preconfigured just as explained on the linux setup. :D

Here are the steps.

Create a `Dockerfile`:
[code]

Build it:
[code]

Run it:
[code]

Here are the drawbacks of this strategy:
- You will get this warning (`Even with METEOR_ALLOW_SUPERUSER ...`), however it's sufficient to run meteor at this point.
- This will run as a development version

[2019-01-30 08:40] entrptaher commented on #26
Feel free to reopen if this does not solve.

[2019-01-30 08:40] #26 closed

[2019-05-07 12:45] NilsMinor opened #27 "Save project"
Hi, your project is awesome!
Will it be possible in the future to store the Wireflow's I made?

[2019-05-07 21:21] shtefcs commented on #27
Hey Nils, glad you like the Wireflow. Hope you find it useful even its buggy.

Hmm, currently I think u will be able to have automatically saved wireflows if you register. Or even without registration, it should be accessible when you access the same URL.

I would like to re-build Wireflow from scratch since we have great concept/prototype which peopel use daily.

Tomorrow I will have a call with

[2019-05-09 09:21] NilsMinor commented on #27
Hi Stefan,
thanks for your answer, I will give it a try :)

Sounds great hope to see progress in your project as it is pretty awesome!
Hopefully Adobe can spend some money to the project, I think they collect enough 🤑

[2019-07-31 08:43] derwaldgeist commented on #27
Just wanted to drop by to say this is an amazing project.

[2019-07-31 15:34] shtefcs commented on #27
It would be even more amazing if it's built from scratch using a different stack.

I had something in mind, so if someone interested to talk and try it, hit me up on stefan@vanila.io or via Vanila Community https://community.vanila.io/users/kinderminder

[2019-08-01 23:13] xet7 commented on #23
@entrptaher

According to `npm audit`, after Meteor 1.8.1 upgrades at https://github.com/vanila-io/wireflow/pull/31 remaining issue is materialize-css that could be low severity one, it seems to not yet have fix or replacement available, at lease I did not find replacement version yet.

There could be some other issues that `npm audit` does not show at all.

[2019-08-01 23:24] xet7 commented on #1
I added pull request that makes possible running wireflow even when AWS S3 credentials are not defined, and some other upgrades etc. https://github.com/vanila-io/wireflow/pull/31

[2019-08-02 04:25] #2 closed

[2019-11-06 08:01] simplytammy opened #32 "Spotted a typo, I think"
![Screenshot_2019-11-06 Wireflow - Free Wire User Flow Tool](https://user-images.githubusercontent.com/36845308/68279724-52962780-0074-11ea-8bb4-3f2ea180db6f.png)
I do not know if it is a typo or not, but on the home page of the official website you spelt **open** **source** as **open sorrce**.

[2019-11-06 14:58] shtefcs commented on #32
Hey thanks @simplytammy , I noticed as well, just didn't have time to fix and deploy.

[2019-11-06 19:11] #32 closed

[2020-03-22 12:43] HugoNebreda opened #33 "MacOSX (in)compatibility"
Hi!

I stumbled upon your project and I think it has great potential

Tried the online version with lots of hope but no luck, and then tried to execute it locally on my MacBook (adapting Linux instructions) but no luck either

I don't know if there is any incompatibility by default with MacOSX, or the project is simply discontinued

Thanks

[2020-03-22 13:02] entrptaher commented on #33
Hello, have you tried the docker from this comment https://github.com/vanila-io/wireflow/issues/26#issuecomment-455940286?

[2020-03-22 14:43] shtefcs commented on #33
hey @HugoNebreda online version should work, but the servers might go down time to time. MAybe u got it in that wrong moment. However, Wireflow was just a prototype and its bit buggy. But we are rebuilding it from scratch.

Stay tuned for upcoming period.

[2020-04-08 23:02] HugoNebreda commented on #33
Hi @entrptaher

I tried the docker solution, but can't finish building the container.

There is an error when running:
`RUN meteor yarn --ignore-optional`

And the error is:
`error fibers@4.0.2: The engine "node" is incompatible with this module. Expected version ">=10.0.0". Got "8.8.1"`

Tried to update node version on my host, and also changed the `FROM node:8` to `node:10` but cannot pass from

[2020-04-09 09:19] entrptaher commented on #33
I will check it this weekends.

[2020-05-13 14:11] Glomondo opened #35 "How do I add flows to Canvas?"

[2020-06-08 13:42] GlitchEclipse opened #36 "Angular compatible?"
Can this library be used with Angular?

[2020-06-15 14:42] tamielbr opened #37 "Start designing on site leads to broken link"
I know this isn't the best place to post this, but couldn't find a contact information. When clicking on button START DESIGNING on the site https://wireflow.co/, leads to this error:

[code]

[2020-06-15 14:48] shtefcs commented on #37
Hey @tamielbr this is great place to report a issue/bug. Thank you, we appreciate it.

We recently released new beta version, and the CTA button from homepage guess it add those old strings in URL.

@entrptaher can u check it out? At the first click it works, but when u refresh the page u get Page not found.

![](https://i.imgur.com/pWrYQ4a.png)

[2020-06-15 15:01] tamielbr commented on #37
So another small one, mistake on main page ;)

_free, online and open **sorrce** tool._

Looking forward to trying it out!

[2020-06-15 15:12] tamielbr opened #38 "app.wireflow.com not working on Firefox"
Running on Mint 19.3, Firefox 77.0.1 (64-bit).

When trying to use https://app.wireflow.co/, one cannot drag any items from the left to the main canvas. On the same setup, works fine on Chrome, can drag items with no issues.

Short video (6 sec) - https://streamable.com/qcm0ey

[2020-06-15 15:23] entrptaher commented on #37
@tamielbr Huge thanks for the report. We will fix those on next deployment. Until then, you can use this link directly to test most basic version of the next version we are building right now.

https://app.wireflow.co/

[2020-06-15 15:27] tamielbr commented on #38
This is a bit weird. But I can make it work with the _right_ mouse button! Not sure what is going on (not expected), but on Chrome it works as expected with left button.

[2020-06-15 15:27] tamielbr commented on #37
Thanks, been playing around. Its fantastic ;)

[2020-06-15 15:40] shtefcs commented on #38
You are right, its buggy and DnD doesn't work from FF. Thanks for reporting, we will take care of it on next release 👍

[2020-06-15 15:53] remram44 commented on #37
I experienced #38 on Firefox, so I opened Chrome and pasted https://app.wireflow.co/ in the URL bar. I got an error message from Chrome about "too many redirections". Same after refresh.

I had to go back to the home page, follow the link from there (which lead to an error from the app) but after this I was able to load https://app.wireflow.co/.

You seem to have multiple routing issues.

[2020-07-07 10:45] idevelop opened #39 "Invalid SSL Certificate"
Your SSL certificate seems to be invalid which is causing some app-level issues.

I think this might be breaking the autosave functionality.

[2020-07-07 15:57] shtefcs commented on #39
Hey, thanks for reporting. I gonna mention @entrptaher to this issue, so he can check it out when have time.

Andrei, have in mind this is an old side project of ours, and we are not much active.

[2020-07-07 16:00] idevelop commented on #39
@shtefcs no problem, I absolutely understand and it's up to you if/when you want to act on this issue.

For the record, I love the approach you're taking with the predefined "UI mockup" blocks instead of freeform shapes/text/etc, and I would pay for this if it had a working autosave and a couple other small feature requests.

[2020-07-07 16:05] shtefcs commented on #39
HEhe, thanks for the feedback Andreia, its put a smile on my face when I
hear those kinds of comments.

Wireflow born with idea to being able to simply create wireflows without
using any complex Softwares like Photoshop, illustrator or needs to buy any
kits.

This was a side project, and we never put to much effort in it. But
hopefully one day we can back and fully re-think the app.

-------------

[2020-07-12 04:11] vanilataher commented on #39
Hello @idevelop thank you for the report. I believe the issue is fixed. Let me know if it's still not the case.

[2020-07-12 04:11] #39 closed

[2020-07-12 04:15] vanilataher commented on #36
This is a simple react app right now. I believe we cannot use this with Angular at this moment.

[2020-07-12 04:17] #23 closed

[2020-07-12 04:17] #1 closed

[2020-07-12 04:17] #3 closed

[2020-07-12 04:17] #5 closed

[2020-07-12 04:17] #6 closed

[2020-07-12 04:17] #7 closed

[2020-07-12 04:18] #9 closed

[2020-07-12 04:18] #10 closed

[2020-07-12 04:18] #18 closed

[2020-07-12 04:18] #27 closed

[2020-07-12 04:18] #33 closed

[2020-07-12 04:18] vanilataher commented on #35
Kindly provide more information about what you are trying to achieve.

[2020-08-04 06:31] ashalogic opened #40 "wrong name and favicon"
hello,
is it possible to fix this?

//Edge chromium- Windows 10

![image](https://user-images.githubusercontent.com/42332369/89260493-a7c78f80-d62c-11ea-957a-341a83a10b26.png)

[2020-08-06 15:25] shtefcs commented on #40
Thanks for reporting this @ashalogic , we gonna check it out and deal with it.

[2020-09-08 08:09] tenakoc commented on #35
Hi, I have/had the same problem. Apparently, the flows can only be dragged to the canvas when they are grabbed for the left or right corner where there is no image. In other cases, the drag-and-drop doesn't work. I hope the attached screen recording helps.

[wireflow_drag-and-drop.mov.zip](https://github.com/vanila-io/wireflow/files/5186961/wireflow_drag-and-drop.mov.zip)

[2020-09-08 14:14] shtefcs commented on #35
@tenakoc thanks for the report. This is new version and its prototype.

Can you share with us what browser you are using?

As you can see on this video, its works well on my Chrome https://youtu.be/FGbugulJ7ro

[2020-09-08 14:23] tenakoc commented on #35
Firefox, there I have the issue. @shtefcs

I have just tried in Chrome and there it works well for me too. :)

[2020-09-29 07:05] reillysiemens commented on #35
This looks like a good tool, but I'm afraid I've run into the same issue as @tenakoc with Firefox 80 on Linux.

[2020-09-29 07:34] igorvanoostveen opened #45 "Dragging components does not work in Firefox"
### Observed behavior
When using Firefox, a user tries to drag a component from the component library (on the left hand side of the window), but no component is dragged and a selection area appears in the component library.

### Expected behavior
To be able to drag components from the components library like on other browsers (tested Chrome).

### Details
Observed in Firefox 80.0.1, Firefox 81.0,

[2020-09-29 07:39] #45 closed

[2020-09-29 07:40] igorvanoostveen commented on #45
Duplicate to issue #35

[2020-09-29 08:09] sime opened #46 "Drag and drop fails in Firefox"
Cool app!

Though Firefox drag and drop is not working.
![Sep-29-2020 10-08-21](https://user-images.githubusercontent.com/216917/94530729-ccf70980-023b-11eb-9ec3-74a370adb497.gif)

[2020-09-29 08:26] nagytech commented on #46
Confirmed, same issue here.

- Left-click fails the majority of the time, just ends up selecting instead
- Right-click and drag works fine, but obviously not the intended experience

[2020-09-29 08:36] nagytech commented on #45
@igorvanoostveen

This issue has good details about the problem compared to #35.  You probably should have left it open so that it's visible - since then there's been another duplicate created.

[2020-09-29 09:18] thgilartlu opened #48 "Clicking Become a Backer image does not work."
![image](https://user-images.githubusercontent.com/71095679/94539160-c6b55d00-023c-11eb-823e-f8bd7c8d8480.png)

Clicking the [Become a backer] correctly links to https://opencollective.com/wireflow#backer
Clicking the image highlighted in the attached redirects to https://opencollective.com/%7B%7Bslug%7D%7D#backers

`<a href="https://opencollective.com/{{slug}}#backers" target="_blank"><img src="h

[2020-09-29 09:37] nagytech commented on #46
Looking around in more detail, it seems this issue has been around for quite a while and it's clearly an issue with GGEditor.  Hopefully there's enough detail below for someone to fix it up.

This doesn't happen in the main container because the `<canvas>` element has `user-select: none` applied.  Looking at the code in more detail, it seems you're using the `ItemPanel.Item` component via [gg-edit

[2020-09-29 11:35] lucasverra opened #49 "landing page repeated funkyness"
![image](https://user-images.githubusercontent.com/11323803/94553298-98de1180-0258-11eb-9ec7-8486a44a3c4e.png)

cheers 💫

[2020-09-29 12:01] TehShrike commented on #46
hah, I spent nearly 5 minutes trying to figure out if I was missing some obscure UI that actually did things before I thought to try wireflow in a different browser 😅

[2020-09-29 13:50] pranavmangal opened #50 "High pitched sound on homepage"
A rather terrible high pitched sound clip is played on https://wireflow.co upon page load.

Unless the intention is to scare away potential users, I think it's best to get rid of it.
[People on Hacker News seem to agree](https://news.ycombinator.com/item?id=24625041).

[2020-09-29 14:20] WarenGonzaga commented on #50
@pranavmangal agree... I look around where to find that sound and I found out that it is on page load via the site. It's kind of annoying in my opinion.

[2020-09-29 15:29] remcodekker commented on #46
Adding the following styling to the sidebar with devtools seems to solve it:
`.sidebar {
user-select: none
}`

[2020-09-29 15:31] timvisee commented on #46
Should I open an PR for this, or are you already on it?

[2020-09-29 15:35] remcodekker commented on #46
@timvisee If you could, please do.
Not capable of properly testing this right now

[2020-09-29 15:44] timvisee commented on #46
Did some testing in #51. Doesn't seem to properly solve it. It stops the selection issue, but still doesn't allow dragging items in the canvas. Dragging the white space on the right side of the items works fine though.

[2020-09-29 15:48] timvisee commented on #46
The items in the sidebar currently have `draggable="false"` set:

[code]

which doesn't seem to work properly in Firefox. Explicitly cancelling the dragging with JavaScript seems to work:

[code]

[2020-09-29 15:49] entrptaher opened #52 "Addressing the recent exposure of wireflow"
Hello there, this is Taher from @vanila-io.

Recently we got a surge of visits, mentions, emails, stars and pull requests from a lot of people and realized someone shared us in hacker news. You have our heartfelt gratitude of showing interest in wireflow.

![image](https://user-images.githubusercontent.com/8284972/94581889-6f93a480-029d-11eb-8d80-2a5c62c305d8.png)

This is a side project where we

[2020-09-29 15:51] xet7 commented on #52
@entrptaher

Can I maintain Meteor-based wireflow, package it for Sandstorm and merge pull requests? I do have repo access already.

[2020-09-29 15:53] entrptaher commented on #52
We are going to move away from meteor version, and will create another version with vanila js (maybe next.js), prisma/hasura as database entry. I will ping you about the roadmap and planning for the backend soon.

[2020-09-29 16:06] timvisee commented on #46
Great. Setting the CSS property `pointer-events: none;` on the sidebar image prevents dragging the image, not requiring the JavaScript snippet mentioned above.

This seems to fix Wireflow in Firefox.

Will update the PR with this change and submit it.

[2020-09-29 16:14] #40 closed

[2020-09-29 16:20] entrptaher commented on #50
Thank you for bringing this. This and few other issues about the homepage will be handled in https://github.com/vanila-io/wireflow-homepage.

[2020-09-29 16:23] WarenGonzaga commented on #50
@entrptaher I created an issue on that repo.

[2020-09-29 16:24] entrptaher commented on #46
@nagytech, previously @arifulbgt4 said there was some breaking changes in version 3 and that's why he didn't use that. If we can use the latest version, it would be best. Do you have a suggestion how to use the version 3 without breaking the whole app?

@timvisee, thanks for the PR. Do you think it will work properly on chrome after this change you added?

[2020-09-29 16:27] timvisee commented on #46
It does. Tested it with `Chromium 85.0.4183.121` and `Firefox Nightly 83.0a1 (2020-09-28)`.

[2020-09-29 18:32] urashidmalik opened #53 "Feature Request: VSCode Extension would be awesome"
Hi Guys, this is amazing. Love to see if we can get VSCode extension. Similar to Draw.io integration.
https://marketplace.visualstudio.com/items?itemName=hediet.vscode-drawio

[2020-09-29 20:45] shtefcs commented on #53
That's interesting. We are open for collaboration / PR if anyone wants to
do it

On Tue, Sep 29, 2020, 20:32 Umair Rashid Malik <notifications@github.com>
wrote:

[2020-09-30 06:30] #46 closed

[2020-09-30 13:20] Fahme commented on #52
Great tool and i would love to help out in development, are you going to share everything on GH or do you use other tools to communicate like slack etc .. ?

[2020-09-30 15:17] entrptaher commented on #52
We will create and invite over the slack and few other community platforms, please wait. :D

[2020-10-01 21:36] pikhovkin opened #55 "How can I custom style of group?"
How can I custom style of group?

[2020-10-03 08:20] entrptaher commented on #52
This is a great opportunity to do some open source collaboration for [Hacktoberfest](https://hacktoberfest.digitalocean.com/).

[2020-10-14 02:30] Tammy-zting opened #58 "Why do I copy and paste it twice?"

[2020-10-19 02:12] #58 closed

[2020-10-22 13:22] raynoppe commented on #52
@entrptaher who do I speak to about Automatio? In light of where the system is, go to market strategy and raising grants / investment for it.

My Linkedin profile: https://www.linkedin.com/in/raynoppe/

[2020-10-22 13:23] entrptaher commented on #52
@raynoppe please ping stefan@vanila.io

[2020-10-22 15:43] raynoppe commented on #52
Thanks

[2020-10-25 13:52] jonaed1230 commented on #48
This issue is fixed in this commit https://github.com/vanila-io/wireflow/commit/4b97b90b927cb410126e040ce67a86588bf946ab

[2020-10-25 13:58] jonaed1230 commented on #50
This issue is fixed and merged in here [vanila-io/wireflow-homepage pull request #7](https://github.com/vanila-io/wireflow-homepage/pull/7)

[2020-10-25 14:01] jonaed1230 commented on #49
This issue is fixed and merged in [vanila-io/wireflow-homepage pull request #5](https://github.com/vanila-io/wireflow-homepage/pull/5)

[2020-10-25 17:02] #50 closed

[2020-11-09 18:15] entrptaher commented on #52
Please use this link to join the slack (the link will expire in 30 days).

[Private slack channel invite link](https://join.slack.com/t/wireflow/shared_invite/zt-iwgx8efa-Vt~_rnkw2tGAhSR~nJs9bA)

[2020-11-09 18:16] #49 closed

[2020-11-09 18:16] #48 closed

[2020-11-18 01:41] entrptaher opened #59 "Save progress in localstorage"
We should have a simplified way of saving the state in localstorage in case the page is reloaded. Once it's done, we can think of saving them on server and realtime collaboration at a later stage.

We can also try sqlite, indexdb, webSQL etc, though it's unsure if it's going to work on mobile devices.

[2020-11-18 02:00] entrptaher opened #60 "Upgrading to GGEditor v3 or pick a different editor for the base of the flow"
When we started to redesign this, we had to pick v2 due to some limitations present in v3. Currently the v2 of ggeditor is outdated and  has a lot of vunaribility.

To upgrade to v3, we will probably need to completely rewrite few components with new logic.

Also the latest https://github.com/alibaba/GGEditor/issues are mostly written in Chinese which might slow down our development with no one in

[2020-11-19 05:44] charliedua commented on #59
Ok, so I was looking into how we can do this, there seems to be a way when a new node is added to the canvas we can save it in storage.
Another idea would be to have a file-based saving, where a user can save and load their diagrams from a file, as rn we are saving as image, we can save the diagram as a JSON file and have an option of `import diagram`.

[2020-11-19 05:52] shtefcs commented on #59
That might be a good idea before we introduce user accounts, database, and server thing.

Currently one of the team members had some progress on saving it in local storage
 https://www.loom.com/share/170a5a884ae84807b7b4c137b1fb6afe

[2020-11-19 05:59] charliedua commented on #59
Oh, this looks promising, I was looking around in the code of `FlowCanvas` component and was thinking of saving it from there.
I guess this works.

[2020-11-26 09:44] charliedua opened #62 "Readme : Some images/links not working"
## The Readme has 2 links which don't display the images.

![readme not showing the image](https://user-images.githubusercontent.com/33629087/100334136-7e8d9d80-3027-11eb-9079-83b5d7aa3fab.png)

## Possible reason

The server showing the images is not working, i.e. it is in error state.

![image](https://user-images.githubusercontent.com/33629087/100334409-d9bf9000-3027-11eb-8157-bf3227194be5.png)

[2020-12-04 14:09] almereyda opened #63 "Improve left sidebar and display flow patterns as on the webpage"
The website has a nice category view of the flow patterns, in which they also hold small headlines related to their use.

![Screenshot_2020-12-04 Wireflow - Free Wire User Flow Tool](https://user-images.githubusercontent.com/1645308/101173210-801c1e80-3642-11eb-953d-d681a751bb47.png)

Having a sorted list of named pieces in the left drawer can help intuitive access of the components.

Additionally

[2020-12-04 14:23] shtefcs commented on #63
Thanks for the feedback @almereyda , indeed it should be approved. We are honestly aware of it, just didn't have time to put on Wireflow at the moment, since it started as a side project.

But it's something we gonna have in mind definitely.

[2020-12-19 07:58] arifulbgt4 opened #65 "Edge connect point have added anywhere"
Edge connect point should be added with another node points. It's connect into canvas without any node points.

[2020-12-23 09:26] malihassan20 commented on #63
@shtefcs I can add this category dropdown above the list for selection. Can you assign this to me?

[2020-12-23 12:26] shtefcs commented on #63
Hey Ali. I don't have UI/UX currently for that improvement, but if you have an idea, feel free to share it.

[2020-12-23 12:57] malihassan20 commented on #63
What I'm thinking is to add a dropdown with Categories name in the sidebar through which the user can select the category and it will populate the Flows list below the same way based on the selected category.

[2020-12-24 07:51] shtefcs commented on #63
Okay, lets see how it goes.

[2020-12-24 08:51] malihassan20 commented on #63
Sure, I'll get it done and create the pull request for you to review.

[2020-12-24 17:14] malihassan20 commented on #63
@shtefcs here is the pull request for this one https://github.com/vanila-io/wireflow/pull/66

[2021-01-21 03:42] NoWorries commented on #52
Interested if the new Wireflow team need any design assistance?

[2021-01-25 19:18] shtefcs commented on #52
@NoWorries Glad, you asked. Wireflow is an open source side project, and it definitely needs some attention. If you have time and will to improve certain points of the app, then it's more than welcome. There is a lot of space for improvements.

Let me know if you have any questions!

[2021-01-28 12:16] RuchiMakadia opened #68 "Downloaded JPG Blur issue Can't even read Label"
When I created screen with flow and after download JPG it's to slow and can't even read Label name
![wireflow (1)](https://user-images.githubusercontent.com/43068503/106137391-a5d02a80-6190-11eb-85da-f49943cc3bb4.jpg)

[2021-01-28 19:56] NoWorries commented on #52
Great, yeah could I join the slack channel?

[2021-01-31 22:05] shtefcs commented on #52
Hey Josh, sorry for delayed response.

Our Wireflow Slack is not active at all, but we have it. The reason for
that is we have 2 Slacks for our other project Automatio.co. But anyway,
here is the link you can join the Slack and have direct chat with us.
https://join.slack.com/t/wireflow/shared_invite/zt-lls92kr9-E_KijlZHv8I_xTaeoLiyrA.
Btw its expire after 30 days.

-----------------------
Stefan

[2021-01-31 22:06] shtefcs commented on #68
Ruchi, wow buddy, that is kinda a big, nice and complex flow. First fo all
apologies for you facing the problem :/.

Wireflow is our side project, and we didn't put a lot of time into it.
Thanks for reporting the issue, we will have it in the mind definitely and
work on it in the future.

Peace,

-----------------------
Stefan Smiljkovic
Co-Founder & CEO
Vanila.io, Automatio.co
(e): stefan@vanila.

[2021-02-02 01:53] txgruppi opened #69 "Mobile screens"
Hi everyone.

One idea: what about having a mobile version of the screens on the left (portrait and some mobile-like UI).

Thanks for the great project

[2021-02-04 20:54] heyakyra commented on #59
yes please!

[2021-02-09 11:31] RuchiMakadia commented on #68
Thank you for your appreciation. Looking forward to use Wireflow it's pretty nice and easy to use i must say.

[2021-02-17 17:44] wzulfikar commented on #59
Hello folks! I saw there's a PR to add local storage (#61) but it's still not merged. Since I want to start using it, I deployed one in https://wireflow.wzulfikar.com. Please feel free to use it if you want.

https://user-images.githubusercontent.com/7823011/108244728-79557000-718a-11eb-8bc8-c4f6fc504f2e.mp4

Deployment is in sync with https://github.com/wzulfikar/wireflow/tree/wireflow.wzulfikar.

[2021-02-19 11:49] charliedua commented on #62
This seems to have been fixed! so closing issue

[2021-02-19 11:49] #62 closed

[2021-02-19 13:44] charliedua opened #70 "Copying doesn't copy the arrows"
When copying and pasting the nodes the connections between them aren't getting copied.

## How to reproduce
1. Create a simple diagram (2+ nodes) with arrows connecting nodes.
![image](https://user-images.githubusercontent.com/33629087/108511174-a2edd300-7313-11eb-8c5c-dc05ab5ac8c9.png)

2. Multi-Select all the nodes
![image](https://user-images.githubusercontent.com/33629087/108511248-c4e75580-73

[2021-02-19 13:56] charliedua opened #71 "Label Text overflows if it can't fit in the available space"
## Steps to reproduce

1. Create a node
2. Write a really long name in the label field.
Observe:
The text is now overflowing the space
![image](https://user-images.githubusercontent.com/33629087/108513208-6079c580-7316-11eb-8180-2cc468b34c00.png)

[2021-02-27 02:12] charliedua commented on #70
Upon further research I have found that we are not handling the copy-paste operations ourselves, this is handled by gg-editor [here](https://github.com/alibaba/GGEditor/blob/68e4cb609a15428d93467564a31ea443e4da35c7/src/components/Graph/command/copy.ts#L20)
So I am not sure if we can actually fix this 😕

[2021-02-27 10:40] shtefcs commented on #70
That is good research. Well isn't that even better? It means that natively it is supported, but we just didn't do it.

I think this should be doable.

[2021-03-01 21:43] charliedua commented on #70
## Thoughts
No that is actually bad.
We cannot change the functionality as it is handled by gg-editor.
we are only setting the command in [this file](https://github.com/vanila-io/wireflow/blob/8e0c0e73b96051b4a9aca4bc3ef033831ecda466/src/components/FlowToolbar/index.js#L15)
The rest is handled by gg-editor
We can make changes if we try to clone and edit the gg-editor files but I think that would b

[2021-04-27 17:20] Pysis868 opened #74 "Git checkout issue"
[code]

`git status` shows a bunch of deleted paths that are staged.
unstaging them does nothing to the filesystem/workspace.
`git reset --hard` shows the same error and the dir remains empty.

[code]

Windows 10 Pro 64-bit 20H2
Cygwin terminal environment
Fish shell

[code]

[GitHub -  vanila-io / wireflow2](https://github.com/vanila-io/wireflow2):
`README.md`:

[code]

I was going to add a diff

[2021-05-21 21:01] tim-andes opened #77 "Stuck in Multiselect"
After nearly completing a wireflow, I was on the last node and realized I wasn't able to edit it. It seems to have occurred after one of the arrows I was trying to connect got buggy. Now, I can select/copy/past/move things, but cannot edit/undo/delete. The right sidebar has the multiselect window open and I can't get it to go away.

- Might be helpful to add a save-current-state option
- Would be

[2021-06-15 09:13] #74 closed

[2021-06-15 09:14] #71 closed

[2021-12-30 21:26] Jee-Bee opened #80 "Improve colormap for repeatedly choose the same color."
The colors can't set to another defined color. Currently it is more or less guessing if a color is the same as previous one.

Adding for example RGB settings next / below to the the colormap

[2021-12-31 18:56] Jee-Bee opened #81 "Add item to existing group"
Currently when a group is created and another item has to be added to the group. The current workflow is
- Delete group
- add item in place
- multi select
- create group (again)

I think it would be great to have a more easy way to add  an object to a group. For example highlight group when a object could be added.

current work environment:
Apple OSX 10.15 with safari.

[2021-12-31 19:06] Jee-Bee opened #82 "A way unselect all"
I have quite often that i have to deal with _multiselect_ But often it is not clear what exactly is selected.
My main problem is that i can't get it unselected.
Since currently there are no options when multiple objects are selected. please add a button to _unselect all_.

current work environment:
Apple OSX 10.15 with safari.

[2021-12-31 21:58] Jee-Bee opened #83 "Add text-box nodes"
Currently only _groups_, _headers_ or _labels_ (the labeled ones don't have a transparent background) can have a textual note.
This one is quite small so my idea is to add text-box for in the model.
in this text-box can additional info or notes written and linked to other elements

[2022-02-21 15:18] lewiss444 opened #84 "Feature request - Estimate project costs"
Would be awesome to have the ability to set the production time in hours for each site page or app screen using an estimation panel. The estimates table would sums everything up and allows specifying hourly rates, adding extra project stages, and calculating overall costs like in octopus do.

[2022-02-21 16:42] xet7 commented on #84
@lewiss444

Please add screenshot mockup.

[2022-02-22 02:57] lewiss444 commented on #84
@xet7  Each node would have an extra field for estimate:

<img width="1434" alt="estimate" src="https://user-images.githubusercontent.com/23320207/155052006-01cd2018-2c37-43d3-9ee5-4a8c2941c3c7.png">

Each group would have a total of the estimates:

<img width="1434" alt="total" src="https://user-images.githubusercontent.com/23320207/155054687-a293ef9e-f55f-4eba-ad21-d655c9b3446e.png">

[2022-06-17 17:36] EnzoRimapa commented on #68
Tengo el mismo problema al descargar el JPG se ve muy mal la calidad :c

[2022-09-19 09:28] dagnelies opened #86 "More!"
Thanks for this great tool, it is really nice and useful.

It would be nice to have a few more screens available, or even to draw/upload your own images. Also, since it is related to flows, it would be nice to include typical flow-like-things:

- yes / no choice
- three buttons choice
- wizard steps 1/2/3
- email sent / confirmed

Thanks

[2022-10-06 09:27] Duckbilled commented on #59
Maybe related to this, it would be really nice if a project could be exported to later be imported again. I don't know if that is like a super complicated request, but it would make sure the progress is 'safe' for a long period of time and I could continue between different browsers/laptops.

[2022-10-20 11:25] zenicu opened #87 "Recover deleted data"
Hello,

Accidentally deleted a project from the Wire Flow app, on Android, is there any way to recover said data ?

Thank you.